@font-face {
    font-family: 'Cuprum';
    src: url('https://fonts.googleapis.com');
    src: url('https://fonts.gstatic.com');
    src: url('https://fonts.googleapis.com/css2?family=Cuprum:wght@500&display=swap');
    font-weight: normal;
    font-style: normal;

}